write-kubeconfig-mode: "{{ k3s_master_write_kubeconfig_mode }}"
{% if inventory_hostname in groups['k3s_masters'] and K3S_POSTGRESQL_ENABLE is defined and K3S_POSTGRESQL_ENABLE|bool %}
datastore-endpoint: "postgres://{{ K3S_POSTGRESQL_USER }}:{{ K3S_POSTGRESQL_PASS }}@{{ K3S_POSTGRESQL_HOST }}:{{ K3S_POSTGRESQL_PORT }}/{{ K3S_POSTGRESQL_DB }}"
{% endif %}
{% if K3S_DOCKER_ENABLE is defined and K3S_DOCKER_ENABLE|bool %}
docker: "{{ K3S_DOCKER_ENABLE }}"
{% endif %}
{% if K3S_CLUSTER_TOKEN is defined %}
token: "{{ K3S_CLUSTER_TOKEN }}"
{% endif %}

{% if K3S_TRAEFIK_ENABLE is undefined or not K3S_TRAEFIK_ENABLE|bool %}
disable: "traefik"
disable-network-policy: true
{% endif %}
{% if K3S_CLUSTER_CIDR is defined %}
cluster-cidr: "{{ K3S_CLUSTER_CIDR }}"
{% endif %}
{% if K3s_FLANNEL_BACKEND is defined %}
flannel-backend: "{{ K3s_FLANNEL_BACKEND }}"
{% endif %}
{% if K3S_CALICO_ENABLE is defined and K3S_CALICO_ENABLE|bool %}
flannel-backend: none
disable-network-policy: true
{% endif %}
kubelet-arg:
  - "runtime-request-timeout=30m"
#  - "image-pull-progress-deadline=60m"

# https://docs.k3s.io/security/hardening-guide#configuration-for-kubernetes-components
protect-kernel-defaults: true
secrets-encryption: true
kube-apiserver-arg:
{% if k3s_psa_enable | bool %}
  - 'admission-control-config-file=/var/lib/rancher/k3s/server/psa.yaml'
{% endif %}
{% if k3s_audit_enable | bool %}
  - 'audit-log-path=/var/lib/rancher/k3s/server/logs/audit.log'
  - 'audit-policy-file=/var/lib/rancher/k3s/server/audit.yaml'
  - 'audit-log-maxage=30'
  - 'audit-log-maxbackup=10'
  - 'audit-log-maxsize=100'
{% endif %}
  - 'request-timeout=300s'
  - 'service-account-lookup=true'
kube-controller-manager-arg:
  - 'terminated-pod-gc-threshold=10'
  - 'use-service-account-credentials=true'
kubelet-arg:
  - 'streaming-connection-idle-timeout=5m'
  - 'make-iptables-util-chains=true'
